
body {
  background-color: #080808;
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_container > div{
  padding: 100px;
}
#header_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.from_logo {

}

.to_logo {

}

.iframe_container {
  height: 100%;
}

@media (max-width: 768px) { 
  .main_container > div{
    padding: 0px;
  }
  .img-logo{
    width: 150px;
  }
  iframe{
    width: calc(100vh - 520px) !important;
  }
}